<nav class="navbar navbar-expand-lg border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand align-self-center fs-3 my-2 px-2 fw-bold ms-2 d-flex align-items-center" href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="me-2 mb-1 bi bi-fuel-pump-fill" viewBox="0 0 16 16">
            <path d="M1 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8a2 2 0 0 1 2 2v.5a.5.5 0 0 0 1 0V8h-.5a.5.5 0 0 1-.5-.5V4.375a.5.5 0 0 1 .5-.5h1.495c-.011-.476-.053-.894-.201-1.222a.97.97 0 0 0-.394-.458c-.184-.11-.464-.195-.9-.195a.5.5 0 0 1 0-1c.564 0 1.034.11 1.412.336.383.228.634.551.794.907.295.655.294 1.465.294 2.081V7.5a.5.5 0 0 1-.5.5H15v4.5a1.5 1.5 0 0 1-3 0V12a1 1 0 0 0-1-1v4h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V2Zm2.5 0a.5.5 0 0 0-.5.5v5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-.5-.5h-5Z"/>
          </svg>FUELIFY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto fs-6 me-4 d-flex justify-content-center align-items-center">

                {%if logged_in %}
                <li class="nav-item">
                    <a class="nav-link {% if request_path == url_for('auth_routes.dashboard') %} active {%endif%}"
                        aria-current="page" href="{{url_for('auth_routes.dashboard')}}">Dashboard</a>
                </li>
                {%if role.lower() == 'owner' %}
                <li class="nav-item">
                    <a class="nav-link {% if request_path == url_for('admin_routes.admin') %} active {%endif%}"
                        aria-current="page" href="{{url_for('admin_routes.admin')}}">Admin</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link {% if request_path == url_for('employee_routes.employees') %} active {%endif%}"
                        href="{{url_for('employee_routes.employees')}}">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request_path == url_for('customer_routes.customers') %} active {%endif%}"
                        href="{{url_for('customer_routes.customers')}}">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request_path == url_for('fuel_inventory_routes.fuel_inventory') %} active {%endif%}"
                        href="{{url_for('fuel_inventory_routes.fuel_inventory')}}">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request_path == url_for('fuel_purchases_routes.fuel_purchases') %} active {%endif%}"
                        href="{{url_for('fuel_purchases_routes.fuel_purchases')}}">Purchases</a>
                </li>
                <li class="nav-item ms-2 w-25">
                    <a class="btn btn-prime btn-sm px-3" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item ms-2 w-25">
                    <a class="btn btn-prime btn-sm px-3" href="/login">Login</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>