{% extends 'partials/_base.html' %}

{% block content %}


<div class="modal fade" id="add-customer" tabindex="-1" role="dialog" aria-labelledby="deleteCustomer"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="">Add New Customer
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body ">
                <form action="{{ url_for('customer_routes.add_customer') }}" method="POST">
                    <div class="form-group mb-3">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone">
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-prime">Add Customer</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% for customer in customers %}

<div class="modal fade" id="delete-{{ customer[0] }}" tabindex="-1" role="dialog" aria-labelledby="deleteCustomer"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Delete
                    Customer
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body text-center">
                <form action="{{ url_for('customer_routes.delete_customer', customer_id=customer[0])  }}" method="POST">
                    <input type="hidden" name="customer_id" value="{{ customer[0] }}">

                    <div class="form-group">
                        <p>Are you sure you want to delete this?<br /> This action is irreversible!</p>
                    </div>
                    <button type="submit" class="btn btn-danger">Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="update-{{ customer[0] }}" tabindex="-1" role="dialog" aria-labelledby="updateCustomer"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Update
                    Customer Details
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form action="{{ url_for('customer_routes.update_customer') }}" method="POST">
                    <input type="hidden" name="customer_id" value="{{ customer[0] }}">
                    <div class="form-group mb-3">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" value="{{customer[1]}}" id="first_name"
                            name="first_name" placeholder="Enter new first name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" value="{{customer[2]}}" id="last_name" name="last_name"
                            placeholder="Enter new last name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="phone">Phone</label>
                        <input type="number" step=0.0001 class="form-control" value="{{customer[3]}}" id="phone"
                            name="phone" placeholder="Enter new phone">
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" value="{{customer[4]}}" name="email"
                            placeholder="Enter new email">
                    </div>
                    <button type="submit" class="btn btn-prime">Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endfor%}

<div class="container mb-5">
    <div class="row justify-content-end align-items-center">
        <div class="row w-50 justify-content-end align-items-center my-3">
            <button type="button" class="w-25 btn btn-sm btn-prime" data-bs-toggle="modal"
                data-bs-target="#add-customer">
                Add New <i class="text-white ms-2 bi-plus-lg"></i>
            </button>
        </div>
        <h2 class="mb-5">Customer Data </h2>
    </div>
    <div class="row">
        <table class="table mt-5 rounded-2 mb-5" id="records">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}



                <tr>
                    <td>{{ customer[1]}} {{ customer[2] }}</td>
                    <td>{{ customer[3] }}</td>
                    <td>{{ customer[4] }}</td>

                    <td>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn mb-1 w-100 btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#update-{{ customer[0] }}">
                                    Edit <i class="text-white ms-2 bi-pencil-fill"></i>
                                </button>
                                <button type="button" class="btn w-100 btn-sm btn-danger " data-bs-toggle="modal"
                                    data-bs-target="#delete-{{ customer[0] }}">
                                    Delete <i class="ms-2 bi-trash-fill"></i>
                                </button>
                            </div>



                        </div>
                    </td>
                </tr>




                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}