{% extends 'partials/_base.html' %}

{% block content %}
<div class="container">
    <div class="row mb-5">
        <h2 class="text-center mt-5">Dashboard</h2>
        <p class="text-center bi fst-italic fw-bold fs-7  mb-5">Get valuable insights here.</p>
        <div class="row">
            <div class="col">
                <div class="card  mb-3">
                    <div class="card-header text-center bg-white fw-medium fs-4">
                        <i class="bi bi-journals py-0 me-2"> </i> Employee Insights</i>
                    </div>
                    <div class="card-body pt-1">
                        </h5>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                <form>
                                    <div class="form-group">
                                        <select class="form-control" id="employeeSelect" name="employee_id">
                                            {% for employee in employees %}
                                            <option value="{{employee[0]}}">{{employee[1]}} {{employee[2]}}
                                            </option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </form>
                            </li>
                            <li class="list-group-item">Monthly fuel sales: <span id="totalFuelSales"></span></li>
                            <li class="list-group-item">Weekly hours worked: <span id="totalHoursWorked"></span></li>
                            <li class="list-group-item">Average daily hours worked: <span
                                    id="avgHoursWorkedPerDay"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header text-center bg-white fw-medium fs-4">
                        <i class="bi bi-bar-chart-line-fill me-2"> </i> General Insights</i>
                    </div>
                    <div class="card-body">


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Total monthly sales: <span id="totalMonthlySales"></span></li>
                            <li class="list-group-item">Average purchase quantity: <span
                                    id="avgPurchaseQuantity"></span></li>
                            <li class="list-group-item">Most popular fuel: <span id="popularFuelType"></span>
                            </li>
                            <li class="list-group-item">Top performing employee: <span
                                    id="topPerformingEmployee"></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header text-center bg-white fw-medium fs-4">
                        <i class="bi bi-person-video me-2"> </i> Customer Insights</i>
                    </div>
                    <div class="card-body pt-1">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <form>
                                    <div class="form-group">
                                        <select class="form-control" id="customerSelect" name="customer_id">
                                            {% for customer in customers %}
                                            <option value="{{customer[0]}}">{{customer[1]}} {{customer[2]}}
                                            </option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </form>
                            </li>

                            <li class="list-group-item">Total money spent: <span id="totalMoneySpent"></span></li>
                            <li class="list-group-item">Average fuel purchased: <span id="avgFuelPurchased">
                                </span>
                            </li>
                            <li class="list-group-item">Most frequently purchased: <span id="frequentFuelType"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}