{% extends 'partials/_base.html' %}

{% block content %}
<div class="container">
    <div class="row mb-5">
        <h2 class="text-center mt-5">Dashboard</h2>
        <p class="text-center bi fst-italic fw-bold fs-7  mb-5">Get valuable insights here.</p>
        <div class="row">
            <div class="col">
                <div class="card  mb-3">
                    <div class="card-body">
                        <h5 class="card-title fs-5"> <i class="bi bi-journals me-2 fs-5"> </i> Employee Insights</i>
                        </h5>
                        <form>
                            <div class="form-group">
                                <select class="form-control" id="employeeSelect" name="employee_id">
                                    {% for employee in employees %}
                                    <option value="{{employee[0]}}">{{employee[1]}} {{employee[2]}}
                                    </option>
                                    {%endfor%}
                                </select>
                            </div>
                        </form>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Monthly fuel sales: <span id="totalFuelSales">₹ 0</span></li>
                            <li class="list-group-item">Weekly hours worked: <span id="totalHoursWorked">0</span></li>
                            <li class="list-group-item">Average daily hours worked: <span
                                    id="avgHoursWorkedPerDay">0</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title fs-5"> <i class="bi bi-bar-chart-line-fill me-2 fs-5"> </i> General
                            Insights</i>
                        </h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Total fuel sales: <span id="totalFuelSales">$0</span></li>
                            <li class="list-group-item">Total hours worked: <span id="totalHoursWorked">0</span></li>
                            <li class="list-group-item">Average hours worked per day: <span
                                    id="avgHoursWorkedPerDay">0</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title fs-5"> <i class="bi bi-person-video me-2 fs-5"> </i> Customer
                            Insights</i>
                        </h5>
                        <form>
                            <div class="form-group">
                                <select class="form-control" id="customer_id" name="customer_id">
                                    {% for customer in customers %}
                                    <option value="{{customer[0]}}">{{customer[1]}} {{customer[2]}}
                                    </option>
                                    {%endfor%}
                                </select>
                            </div>
                        </form>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Total fuel sales: <span id="totalFuelSales">$0</span></li>
                            <li class="list-group-item">Total hours worked: <span id="totalHoursWorked">0</span></li>
                            <li class="list-group-item">Average hours worked per day: <span
                                    id="avgHoursWorkedPerDay">0</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}