{% extends 'partials/_base.html' %}

{% block content %}


<div class="modal fade" id="add-fuel" tabindex="-1" role="dialog" aria-labelledby="deleteFuel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="">Add New Fuel
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body ">
                <form action="{{ url_for('fuel_inventory_routes.add_fuel') }}" method="POST">
                    <div class="form-group mb-3">
                        <label for="fuel_type">Fuel Type</label>
                        <input type="text" class="form-control" id="fuel_type" name="fuel_type"
                            placeholder="Enter fuel type">
                    </div>
                    <div class="form-group mb-3">
                        <label for="quantity">Quantity (Litres)</label>
                        <input type="number" step=0.0001 class="form-control" id="quantity" name="quantity"
                            placeholder="Enter quantity">
                    </div>
                    <div class="form-group mb-3">
                        <label for="price">Price (Per Litre)</label>
                        <input type="number" step=0.0001 class="form-control" id="price" name="price"
                            placeholder="Enter price">
                    </div>
                    <div class="row mt-3 justify-content-center align-items-center">
                        <button type="submit" class="btn btn-prime w-25">Add Fuel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{%for fuel in fuel_inventory%}
<div class="modal fade" id="delete-{{ fuel[0] }}" tabindex="-1" role="dialog" aria-labelledby="deleteFuel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Delete
                    Fuel
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body text-center">
                <form action="{{ url_for('fuel_inventory_routes.delete_fuel', fuel_id=fuel[0]) }}" method="POST">
                    <input type="hidden" name="fuel_id" value="{{ fuel[0] }}">

                    <div class="form-group">
                        <p>Are you sure you want to delete this?<br /> This action is irreversible!</p>
                    </div>
                    <button type="submit" class="btn btn-danger">Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="update-{{ fuel[0] }}" tabindex="-1" role="dialog" aria-labelledby="updateFuel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Update
                    Fuel Details
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form action="{{ url_for('fuel_inventory_routes.update_fuel') }}" method="POST">
                    <input type="hidden" name="fuel_id" value="{{ fuel[0] }}">
                    <div class="form-group mb-3">
                        <label for="new_quantity">New Quantity (Litres)</label>
                        <input type="number" step=0.0001 class="form-control" id="new_quantity" name="new_quantity"
                            placeholder="Enter new quantity">
                    </div>
                    <div class="form-group mb-3">
                        <label for="price">Price (Per Litre)</label>
                        <input type="number" step=0.0001 class="form-control" id="price" name="price"
                            placeholder="Enter price">
                    </div>
                    <div class="row mt-3 justify-content-center align-items-center">
                        <button type="submit" class="btn btn-prime w-25">Update Fuel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endfor%}

<div class="container mb-5">
    <div class="row justify-content-end align-items-center">
        <div class="row w-50 justify-content-end align-items-center my-3">
            <button type="button"
                class="{%if role.lower() == 'employee' %} disabled {%endif%} text-white w-25 btn btn-sm btn-prime"
                data-bs-toggle="modal" data-bs-target="#add-fuel">
                Add New <i class="text-white ms-2 bi-plus-lg"></i>
            </button>
        </div>
        <h2 class="mb-5">Fuel Inventory Data </h2>
    </div>
    <div class="row">
        <table class="table mt-5 rounded-2 mb-5" id="records">
            <thead>
                <tr>
                    <th>Fuel Type</th>
                    <th>Quantity (Litres)</th>
                    <th>Price (Per Litre)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for fuel in fuel_inventory %}



                <tr>
                    <td>{{ fuel[1] }}</td>
                    <td>{{ fuel[2] }}</td>
                    <td>{{ fuel[3] }}</td>

                    <td>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button"
                                    class="btn {%if role.lower() == 'employee' %} disabled {%endif%} text-white mb-1 w-100 btn-sm btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#update-{{ fuel[0] }}">
                                    Edit <i class="text-white ms-2 bi-pencil-fill"></i>
                                </button>
                                <button type="button"
                                    class="btn {%if role.lower() == 'employee' %} disabled {%endif%} text-white w-100 btn-sm btn-danger "
                                    data-bs-toggle="modal" data-bs-target="#delete-{{ fuel[0] }}">
                                    Delete <i class="ms-2 bi-trash-fill"></i>
                                </button>
                            </div>



                        </div>
                    </td>
                </tr>




                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}