{% extends "partials/_base.html" %}
{%block content%}

<section id="landing" class="border-bottom pb-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-7">
                <h1>Effortless Management,
                    Endless Possibilities</h1>
                <p>Transform your gas station into a well-oiled machine with our advanced software solution.
                    Streamline your business, reduce costs, and improve customer satisfaction with our system.
                </p>
                <a href="/dashboard" class="btn btn-prime">Go to Dashboard</a>
            </div>
            <div class="col-5 align-items-center">
                <img height=400 width=500 class="rounded-3 ms-4 mb-3" src="{{ url_for('static',
                    filename='img/index1.svg' )}}" alt="">
            </div>
        </div>
    </div>
</section>
<section id="features" class="border-bottom pb-5">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <h2>Features</h2>
            <p class="bi fst-italic fw-bold fs-7">What makes us so good?</p>
            <div class="row text-start my-4 mx-0 px-0">
                <div class="col">
                    <div class="card bg-gray rounded-2">
                        <div class="card-body">
                            <h5 class="card-title pb-2"><i class="prime bi bi-journals me-2"></i> Employee Management
                            </h5>
                            <p class="card-text pb-2">Manage all employee related tasks at one place.
                            </p>
                            <a href="{{url_for('employee_routes.employees')}}" class="btn btn-prime">Let's Go</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-gray rounded-2">
                        <div class="card-body">
                            <h5 class="card-title pb-2"><i class="bi bi-journals me-2"></i> Fuel Inventory</h5>
                            <p class="card-text pb-2">Effortlessly track and maintain your fuel supply.
                            </p>
                            <a href="{{url_for('fuel_inventory_routes.fuel_inventory')}}" class="btn btn-prime">Let's
                                Go</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-gray rounded-2">
                        <div class="card-body">
                            <h5 class="card-title pb-2"><i class="bi bi-journals me-2"></i> Reports</h5>
                            <p class="card-text pb-2">Effortlessly track and analyze key performance metrics.
                            </p>
                            <a href="{{url_for('auth_routes.dashboard')}}" class="btn btn-prime">Let's Go</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section id="team" class="">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <h2>Our Team</h2>
            <p class="bi fst-italic fw-bold fs-7">Meet the team!</p>

            <div class="row justify-content-center align-items-center text-start my-4 mx-0 px-0">
                <div class="card m-0 p-0 me-5" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/rijuth.jpg' )}}"
                        class="card-img-top p-0 m-0 border-bottom" alt="Rijuth Menon R picture">
                    <div class="card-body">
                        <h5 class="card-title">Rijuth Menon</h5>
                        <h6 class="card-subtitle mb-2 fst-italic text-muted bi">1CR20CS157</h6>

                        <p class="card-text">I'm a full-stack developer with a keen interest in web3!</p>
                        <a href="https://github.com/markisdev" class="btn btn-prime"><i
                                class="text-white me-2 bi-github"></i>
                            GitHub</a>
                    </div>
                </div>
                <div class="card m-0 p-0 " style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/rayyan.jpg' )}}" height=180
                        class="card-img-top p-0 m-0 " alt="Rayyan Aslam picture">
                    <div class="card-body">
                        <h5 class="card-title">Rayyan Aslam</h5>
                        <h6 class="card-subtitle mb-2 fst-italic text-muted bi">1CR20CS155</h6>

                        <p class="card-text">I am a computer science student with a focus on web development.</p>
                        <a href="https://github.com/rayyan06" class="btn btn-prime"><i
                                class="text-white me-2 bi-github"></i>
                            GitHub</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
</section>
{%endblock%}