{% extends 'partials/_base.html' %}

{% block content %}
<div class="container mt-5 align-self-center d-flex justify-content-center align-items-center mb-5">
    <div class="row w-50">

        <h1 class="text-center mb-5">Login</h1>

        <div class="card mb-5">
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-prime mb-3">Login</button>
                </form>
            </div>
        </div>


    </div>
</div>
{%endblock%}